*.o
autom4te.cache/
Makefile
config.log
config.status
makefile.dep
modules/Makefile
nbase/libnbase.a
ncrack
ncrack_config.h
nsock/src/libnsock.a
opensshlib/Makefile
opensshlib/config.h
opensshlib/config.log
opensshlib/config.status
opensshlib/libopenssh.a
nbase/config.log
nbase/config.status
nsock/src/config.log
nsock/src/config.status
mswin32/Release/
mswin32/ncrack.VC.opendb
mswin32/ncrack.opensdf
mswin32/ncrack.sdf
mswin32/ncrack.suo
mswin32/ncrack.vcxproj.user
nbase/Debug/
nbase/Release/
nbase/nbase.lib
nbase/nbase.pdb
nbase/nbase.vcxproj.user
nbase/Makefile
nbase/nbase_config.h
nsock/DebugNoPcap/
nsock/ReleaseNoPcap/
nsock/nsock.lib
nsock/nsock.vcxproj.user
nsock/include/nsock_config.h
nsock/src/Makefile
nsock/tests/Makefile
opensshlib/Debug/
opensshlib/Release/
opensshlib/openssh.vcxproj.user
opensshlib/opensshlib.lib
opensshlib/opensshlib.pdb
opensshlib/buildpkg.sh
