*.o
Makefile
config.log
config.status
makefile.dep
modules/Makefile
nbase/libnbase.a
ncrack
ncrack_config.h
nsock/src/libnsock.a
opensshlib/Makefile
opensshlib/config.h
opensshlib/config.log
opensshlib/config.status
opensshlib/libopenssh.a
nbase/config.log
nbase/config.status
nsock/src/config.log
nsock/src/config.status

